.header {
    background-color: #ff8552;
}

.card {
    background-color: #297373 !important;
    color: white !important;
}

Button {
    background-color: #85ffc7 !important;
    color: black !important;
}

Button:hover {
    color: white !important;
    background-color: #ff8552 !important;
}

.emblem {
    background:  black;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2em;
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 100px;
    position: relative;
}

.emblemText {
    left: 100px;
    top: 30px;
    position: absolute;
  }

.lightLevel {
    color: gold;
    font-weight: bolder;
}

.vendorIcon {
    height: 30px;
    margin-right: 5px;
}

.vendorHeader .accordion-button {
    background-color: #297373 !important;
    color: white !important;
}

.footer {
    background-color: #f8f9fa;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: rgba(0, 0, 0, 0.55);
}

.vendorBucket img {
    height: 50px !important;
}

.groupTitle {
    text-align: center;
}

/* 85ffc7, 297373, ff8552, e6e6e6, 39393a */