body {
    background-image: url('/imgs/destiny2travelerbackground.png');
    width: 100%;
    background-repeat: repeat;
    background-size: contain;
}

#root {
    background-color: transparent;
}

/* 85ffc7, 297373, ff8552, e6e6e6, 39393a */

.header {
    background-color: #ff8552;
}

.tab-pane {
    background-color: #85ffc7 !important;
}

.tab-pane > div {
    background-color: #297373;
}

.card-body a:hover, Button:hover, .active, .progress-bar {
    background-color: #ff8552 !important;
    color: black !important;
}

Button, .card-body a {
    background-color: #85ffc7 !important;
    color: black !important;
}

.vendorHeader .accordion-button, .card, .milestone > .list-group-item {
    background-color: #297373 !important;
    color: white !important;
}

.rewardItem {
    background-color: white !important;
    color: black !important;
}

.seasonalChallengeInfo {
    color: white !important;
    margin-bottom: 5px !important; 
    padding: 5px;
}

.emblem {
    background: black;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2em;
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 100px;
    position: relative;
}

.emblemText {
    left: 100px;
    top: 30px;
    position: absolute;
  }

.lightLevel {
    color: gold;
    font-weight: bolder;
}

.challengeProgress {
    width: 100%;
    margin-top: 6px;
    margin-left: 4px;
    margin-right: 4px;
}

.rewardIcon {
    height: 20px;
    margin-right: 4px;
}

.display-in-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.icon-m5 {
    margin-right: 5px;
    margin-bottom: 5px;
}

.vendorIcon {
    height: 30px;
    margin-right: 5px;
}

.vendorRanks, .display-in-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px 16px;
}

.vendorRankInfo, .display-in-row {
    display: flex;
    flex-direction: row;
}

.pointsIcon {
    width: 15px;
    margin-right: 4px;
}

.headerIcon {
    background-color: #39393a;
    height: 55px;
    width: 55px;
    margin-right: 10px;
}

.rankIcon {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: #39393a;
}

.streakRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
    margin-top: 4px;
}

.streakBox {
    border: #999 1px solid;
    box-sizing: border-box;
    background-color: black;
    margin-right: 4px;
    height: 14px;
    width: 14px;
}

.streakBoxComplete {
    background-color: #dde338;
    height: 8px;
    width: 8px;
    margin: 2px;
}

.progressBars {
    width: 75px;
}

.footer {
    background-color: #f8f9fa;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: rgba(0, 0, 0, 0.55);
}

.vendorBucket img, .challengeIcon {
    height: 50px !important;
}

.groupTitle {
    text-align: center;
}

.checkboxAndLabel, .align-right {
    margin-left: auto; 
    margin-right: 0;
}

.fieldLabel {
    margin-left: 5px;
}

.loadingSpinner {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 10px;
}

.seasonalChallenges, .challengeBox {
    margin-top: 5px !important;
}

hr {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}